@page "/Todo"

<div class="container">
    <h1>Mahna Mahna Todo List</h1>
    <div class="todo-input">
        <input type="text" id="new-task" placeholder="Add a new task...">
        <button id="add-task-button">Add Task</button>
    </div>
    <ul id="todo-list">
        <li>
            <span>Sample Task</span>
            <button class="delete-button">Delete</button>
        </li>
    </ul>
</div>